@import url("/styles/css/core.css");
#parentPane {
  -fx-padding: 5 5 10 5;
  -fx-spacing: 32;
  -fx-min-width: 530;
  -fx-max-width: 530;
}
.vContainer {
  -fx-spacing: 8;
}
.hContainer {
  -fx-spacing: 20;
}
#infoNumersPane {
  -fx-min-width: 127.5;
  -fx-max-width: 127.5;
}
#infoDescripsPane {
  -fx-min-width: 382.5;
  -fx-max-width: 382.5;
}
