@import url("/styles/css/core.css");
#parentPane {
  -fx-padding: 5 5 10 5;
  -fx-spacing: 32;
  -fx-min-width: 550;
  -fx-max-width: 550;
}
.vContainer {
  -fx-spacing: 8;
}
.hContainer {
  -fx-spacing: 20;
}
#infoNumersPane {
  -fx-min-width: 132.5;
  -fx-max-width: 132.5;
}
#infoDescripsPane {
  -fx-min-width: 397.5;
  -fx-max-width: 397.5;
}
.masker-glass {
  -fx-background-color: transparent;
}
.masker-center {
  -fx-background-color: transparent;
}
