@import url("/styles/css/core.css");
#formPane {
  -fx-min-height: 732;
  -fx-max-height: 732;
  -fx-min-width: 820;
  -fx-max-width: 820;
  -fx-padding: 10;
}
.vContainer {
  -fx-spacing: 10;
}
.label {
  -fx-font-weight: bold;
  -fx-font-size: 0.9em;
  -fx-padding: 1 0 1 2;
}
.one > .couple {
  -fx-background-color: yellow;
  -fx-pref-width: 800;
}
.oneHalf > .couple {
  -fx-background-color: yellowgreen;
  -fx-pref-width: 385;
}
.oneThirds > .couple {
  -fx-background-color: yellow;
  -fx-pref-width: 246.66666667;
}
.couple > .combo-box {
  -fx-max-width: 800;
}
.oneThirds {
  -fx-pref-width: 523.33333333;
}
.oneHalf,
.oneThirds {
  -fx-spacing: 30;
}
.w4 .text-field {
  -fx-pref-width: 523.33333333;
}
.w4 .combo-box {
  -fx-pref-width: 246.66666667;
}
.doubleHeight {
  /*-fx-background-color: yellow;*/
  -fx-pref-height: 162.66666667;
}
.button {
  -fx-font-weight: bold;
}
*:disabled {
  -fx-opacity: 0.9;
}
#imageGallery {
  -fx-min-height: 350.26666667;
}
