@import url("/styles/css/core.css");
#formPane {
  -fx-max-height: 300;
  -fx-padding: 15;
}
.vContainer {
  -fx-spacing: 15;
}
.label {
  -fx-font-weight: bold;
  -fx-font-size: 0.9em;
  -fx-padding: 1 0 1 2;
}
.one > .couple {
}
.oneHalf > .couple {
}
.oneThirds > .couple {
}
.couple > .combo-box {
}
.oneThirds {
}
.oneHalf,
.oneThirds {
  -fx-spacing: 35;
}
.doubleHeight {
  -fx-pref-height: 133.33333333;
}
.button {
  -fx-font-weight: bold;
}
*:disabled {
  -fx-opacity: 0.9;
}
