@import url("/styles/css/core.css");
@import url("/styles/css/dialogs.css");
.vContainer {
  -fx-spacing: 15;
}
.label {
  -fx-font-weight: bold;
  -fx-font-size: 0.9em;
  -fx-padding: 1 0 1 2;
}
.one > .couple,
.one > .couple > * {
  -fx-pref-width: 820;
}
.oneHalf > .couple,
.oneHalf > .couple > * {
  -fx-pref-width: 392.5;
}
.oneThirds > .couple,
.oneThirds > .couple > *,
.oneThirds > .couple > .innerCouple > * {
  -fx-pref-width: 250;
}
.twoThirds > .coupleOneThird,
.twoThirds > .coupleOneThird > * {
  -fx-pref-width: 250;
}
.twoThirds > .coupleTwoThird,
.twoThirds > .coupleTwoThird > * {
  -fx-pref-width: 535;
}
.twoThirds > .coupleOneSixth,
.twoThirds > .coupleOneSixth > * {
  -fx-pref-width: 107.5;
}
.fiveSixthes > .coupleFiveSixth,
.fiveSixthes > .coupleFiveSixth > * {
  -fx-pref-width: 677.5;
}
.oneThirds {
  -fx-pref-width: 535;
}
.oneHalf,
.oneThirds,
.twoThirds,
fiveSixthes {
  -fx-spacing: 35;
}
.okayCancelPane {
  -fx-padding: 30 0 0 0;
}
.button {
  -fx-font-weight: bold;
}
*:disabled {
  -fx-opacity: 0.9;
}
#formPane {
  -fx-min-width: 850;
  -fx-max-width: 850;
  -fx-padding: 15;
}
#listVBox {
  -fx-min-height: 450;
  -fx-max-height: 450;
}
