@import url("/styles/css/core.css");
@import url("/styles/css/dialogs.css");
.vContainer {
  -fx-spacing: 10px;
}
.label {
  -fx-font-weight: bold;
  -fx-font-size: 0.9em;
  -fx-padding: 1 0 1 2;
}
.one > .couple,
.one > .couple > * {
  -fx-pref-width: 780;
}
.oneHalf > .couple,
.oneHalf > .couple > * {
  -fx-pref-width: 372.5;
}
.oneThirds > .couple,
.oneThirds > .couple > *,
.oneThirds > .couple > .innerCouple > * {
  -fx-pref-width: 236.66666667;
}
.twoThirds > .coupleOneThird,
.twoThirds > .coupleOneThird > * {
  -fx-pref-width: 236.66666667;
}
.twoThirds > .coupleTwoThird,
.twoThirds > .coupleTwoThird > * {
  -fx-pref-width: 508.33333333;
}
.oneThirds {
  -fx-pref-width: 508.33333333;
}
.oneHalf,
.oneThirds,
.twoThirds {
  -fx-spacing: 35;
}
.okayCancelPane {
  -fx-padding: 40px 0 0 0;
}
.button {
  -fx-font-weight: bold;
}
*:disabled {
  -fx-opacity: 0.9;
}
#formPaneInner {
  -fx-min-width: 800px;
  -fx-max-width: 800px;
  -fx-padding: 10px;
}
.vContainer {
  -fx-border-color: black;
  -fx-border-style: dashed;
  -fx-border-width: 2;
  -fx-border-insets: 2;
}
