@import url("/styles/css/core.css");
#imagesGalleryRoot,
#galleryStack {
  -fx-pref-height: 2000;
  -fx-max-height: 2000;
}
.masker-pane .masker-center,
#up,
#down {
  -fx-background-color: transparent;
}
#page {
  -fx-font-size: 1.5em;
  -fx-alignment: CENTER;
}
