@import url("/styles/css/core.css");
#imagesGalleryRoot {
  -fx-pref-height: 2000;
  -fx-max-height: 2000;
}
#galleryImageFrame {
  -fx-background-color: red;
}
#galleryImageView {
  -fx-background-color: blue;
}
.hgrowalways {
  -fx-background-color: green;
}
.vgrowalways {
  -fx-background-color: yellow;
}
.masker-pane .masker-center,
#up,
#down {
  -fx-background-color: transparent;
}
#pdfPagingPane {
  -fx-alignment: BOTTOM_RIGHT;
}
#page {
  -fx-font-size: 24;
}
