@import url("/styles/css/core.css");
#galleryImageFrame {
  -fx-border-width: 2;
  -fx-border-color: black;
  -fx-min-width: 384;
  -fx-max-width: 384;
  -fx-min-height: 273;
  -fx-max-height: 273;
  -fx-alignment: center;
}
#imagesGalleryRoot {
  -fx-alignment: CENTER;
  -fx-spacing: 5px;
}
#datesSlider {
  -fx-pref-width: 200;
}
#deletedImagePane {
  -fx-alignment: center;
}
.masker-pane .masker-center {
  -fx-background-color: transparent;
}
.ListSpinner .left-arrow {
  -fxx-shape: "M4,-4 L0,0 L4,4 Z";
  -fxx-scale-shape: false;
  -fxx-padding: 8;
}
.ListSpinner .right-arrow {
  -fxx-shape: "M0,-4 L4,0 L0,4 Z";
  -fxx-scale-shape: false;
}
