@import url("/styles/css/core.css");
#imagesGalleryRoot {
  -fx-pref-height: 1800;
}
#galleryImageFrame {
  -fx-background-color: red;
}
#galleryImageView {
  -fx-background-color: blue;
}
.hgrowalways {
  -fx-background-color: green;
}
.vgrowalways {
  -fx-background-color: yellow;
}
