@import url("/styles/css/core.css");
@import url("/styles/css/filters.css");
.label {
  -fx-font-weight: bold;
  -fx-font-size: 0.9em;
  -fx-padding: 1 0 1 2;
}
.w1 .text-field,
.w1 .combo-box,
.w1 .date-picker {
  -fx-pref-width: 480;
}
.w2 .text-field,
.w2 .combo-box,
.w2 .date-picker {
  -fx-pref-width: 225;
}
.w3 .text-field,
.w3 .combo-box,
.w3 .date-picker {
  -fx-pref-width: 140;
}
.w2_3 > .coupleOneThird,
.w2_3 > .coupleOneThird > * {
  -fx-pref-width: 140;
}
.w2_3 > .coupleTwoThird,
.w2_3 > .coupleTwoThird > * {
  -fx-pref-width: 310;
}
.w2,
.w3,
.w2_3 {
  -fx-spacing: 30;
}
.button {
  -fx-font-weight: bold;
}
*:disabled {
  -fx-opacity: 0.9;
}
#formPane {
  -fx-pref-width: 480;
  -fx-padding: 10;
  -fx-spacing: 20;
}
