@import url("/styles/css/core.css");
@import url("/styles/css/dialogs.css");
.vContainer {
  -fx-spacing: 15;
}
.label {
  -fx-font-weight: bold;
  -fx-font-size: 0.9em;
  -fx-padding: 1 0 1 2;
}
.one > .couple,
.one > .couple > * {
  -fx-pref-width: 300;
}
.oneHalf > .couple,
.oneHalf > .couple > * {
  -fx-pref-width: 132.5;
}
.oneThirds > .couple,
.oneThirds > .couple > *,
.oneThirds > .couple > .innerCouple > * {
  -fx-pref-width: 76.66666667;
}
.oneSixthes > .couple,
.oneSixthes > .couple > * {
  -fx-pref-width: 20.83333333;
}
.twoThirds > .coupleOneThird,
.twoThirds > .coupleOneThird > * {
  -fx-pref-width: 76.66666667;
}
.twoThirds > .coupleTwoThird,
.twoThirds > .coupleTwoThird > * {
  -fx-pref-width: 188.33333333;
}
.twoThirds > .coupleOneSixth,
.twoThirds > .coupleOneSixth > * {
  -fx-pref-width: 20.83333333;
}
.fiveSixthes > .coupleOneSixth,
.fiveSixthes > .coupleOneSixth > * {
  -fx-pref-width: 20.83333333;
}
.fiveSixthes > .coupleFiveSixth,
.fiveSixthes > .coupleFiveSixth > * {
  -fx-pref-width: 244.16666667;
}
.oneThirds {
  -fx-pref-width: 188.33333333;
}
.oneHalf,
.oneThirds,
.oneSixthes,
.twoThirds,
fiveSixthes {
  -fx-spacing: 35;
}
.okayCancelPane {
  -fx-padding: 30 0 0 0;
}
.button {
  -fx-font-weight: bold;
}
*:disabled {
  -fx-opacity: 0.9;
}
#formPane {
  -fx-min-width: 330;
  -fx-max-width: 330;
  -fx-padding: 15;
}
