@import url("/styles/css/core.css");
#formPane {
  -fx-max-height: 800;
  -fx-min-width: 830;
  -fx-max-width: 830;
  -fx-padding: 15;
}
.vContainer {
  -fx-spacing: 15;
}
.label {
  -fx-font-weight: bold;
  -fx-font-size: 0.9em;
  -fx-padding: 1 0 1 2;
}
.one > .couple {
  -fx-pref-width: 800;
}
.oneHalf > .couple {
  -fx-pref-width: 382.5;
}
.oneThirds > .couple {
  -fx-pref-width: 243.33333333;
}
.couple > .combo-box {
  -fx-max-width: 800;
}
.oneThirds {
  -fx-pref-width: 521.66666667;
}
.oneHalf,
.oneThirds {
  -fx-spacing: 35;
}
.doubleHeight {
  -fx-pref-height: 355.55555556;
}
.button {
  -fx-font-weight: bold;
}
*:disabled {
  -fx-opacity: 0.9;
}
