*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/AmbroAFB/dist/
/AmbroAFB/nbproject/private/
*.properties
AmbroAFB/errors.log
*.properties
AmbroAFB/errors.log
*.properties
AmbroAFB/errors.log
*.properties
*.dat
*.ctrl
*.txt
*.lck
derby.log
*.properties
