@import url("../../ambroafb/general/core.css");

@import url("../../ambroafb/general/variables.less");


.root {
    -fx-min-width: @insideFormWidthMiddle;
    -fx-man-width: @insideFormWidthMiddle;
    
};

.columnConstraints {
    -fx-column-halignment: right;
}


.label {
    -fx-background-color: yellow;
    -fx-padding: 10;
    -fx-man-width: @insideFormWidthMiddle/2;
}