@import url("/styles/css/core.css");
@import url("/styles/css/dialogs.css");
@import url("/dialogs.less");
@import url("/variables.less");

@formWidth          : 800;

.setFormPaneRules(@formWidth);

.okayCancelPane {
    -fx-padding: 10*@gap 0 0 0;
}

#imageGalleryPane {
    -fx-min-height: round(1.45*(@formWidth - @spaceWidth)/2);
    -fx-max-height: round(1.45*(@formWidth - @spaceWidth)/2);
}
