@import url("/doclistdialog.less");

@borderWidth        : 2;
@borderInsets       : 2;

#formPaneInner {
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: @borderWidth;
    -fx-border-insets: @borderInsets;
}