@import url("/styles/css/core.css");
@import url("/styles/css/dialogs.css");
@import url("/dialogs.less");

@defaultHeight   : 470;

#formPane {
    -fx-padding: @gap;
}

#scrollPane {
    -fx-min-height: @defaultHeight;
    -fx-max-height: @defaultHeight;
}

#listVBox {
    -fx-spacing: @gap;
}
