@import url("/styles/css/core.css");
@import url("/styles/css/dialogs.css");
@import url("/dialogs.less");

@formWidth          : 800;

#formPaneInner {
    -fx-min-width: @formWidth;
    -fx-max-width: @formWidth;
    -fx-padding: 0 0 @gap 0;
}