@import url("/styles/css/core.css");
@import url("/styles/css/dialogs.css");
@import url("/dialogs.less");
@import url("/variables.less");

@formWidth          : 800;

.vContainer {
    -fx-padding: @gap;
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-insets: 2;
}