@import url("/styles/css/core.css");
@import url("/variables.less");

#formPane {
   -fx-min-width    : @insideFormWidthMiddle; 
   -fx-max-width    : @insideFormWidthMiddle; 
   -fx-pref-height  : @mainFormHeight; 
   
}
