@import url("/styles/css/core.css");
@import url("/variables.less");

#imagesGalleryRoot, #galleryStack {
    -fx-pref-height: 2000;
    -fx-max-height: 2000;
}

.masker-pane .masker-center, #up, #down {
    /*-fx-background-color: transparent;*/
}

/*#pdfPagingPane{
    -fx-background-color: yellowgreen;
    -fx-opacity: 0.5; 
    -fx-alignment: BOTTOM_CENTER;
}*/

#page {
    -fx-font-size: 1.5em;
    -fx-alignment: CENTER;
    /*-fx-background-color: yellow;*/
}

