@import url("/styles/css/core.css");
@import url("/variables.less");

#imagesGalleryRoot, #galleryStack {
    -fx-pref-height: 2000;
    -fx-max-height: 2000;
}

#imagesGalleryRoot {
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

#imageButtonsHBox {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}

.masker-pane .masker-center, #up, #down {
    -fx-background-color: transparent;
}

#up, #down, #page {
    -fx-text-fill: gray;
}

#page {
    -fx-font-size: 1.5em;
    -fx-alignment: CENTER;
}

#hgrowalways{
 -fx-background-color: yellow;   
}

#galleryStack{
 -fx-background-color: blue;   
}

#vgrowalways{
 -fx-background-color: green;   
}