@import url("/styles/css/core.css");
@import url("/variables.less");

#imagesGalleryRoot {
    -fx-pref-height: 2000;
    -fx-max-height: 2000;
}


#galleryImageFrame {
    -fx-background-color: red;
}
#galleryImageView {
    -fx-background-color: blue;
}

.hgrowalways {
    -fx-background-color: green;
}

.vgrowalways {
    -fx-background-color: yellow;

}

