@import url("/styles/css/core.css");
@import url("/variables.less");

@formWidth          : 800;
@gap                :  15;
@spaceWidth         :  35;
@rotateHboxSpacing  :  65;

#formPane {
    /*-fx-min-height: @formHeight;*/
    /*-fx-max-height: @formHeight;*/
    -fx-min-width: @formWidth + 2*@gap;
    -fx-max-width: @formWidth + 2*@gap;
    -fx-padding: @gap;
}

.vContainer {
    -fx-spacing: @gap;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 0.9em;
    -fx-padding: 1 0 1 2;
}

.one>.couple {
    -fx-pref-width: @formWidth;
}
.oneHalf>.couple {
    -fx-pref-width: (@formWidth - @spaceWidth)/2;
}
.oneThirds>.couple,  .oneThirds>.couple>.date-picker {
    -fx-pref-width: (@formWidth - 2*@spaceWidth)/3;
}

.couple>.combo-box {
    -fx-max-width: @formWidth;
}
.oneThirds {
    -fx-pref-width: 2*(@formWidth - 2*@spaceWidth)/3 + @spaceWidth;
}


.oneHalf, .oneThirds {
    -fx-spacing: @spaceWidth;
}

/*.doubleHeight {
    /*-fx-background-color: yellow;
    /*-fx-pref-height: 4 * @formHeight / 9;
}*/
.button {
    -fx-font-weight: bold;
}

*:disabled {
    -fx-opacity: 0.9;
}

#imageGalleryPane {
    -fx-min-height: round(1.45*(@formWidth - @spaceWidth)/2);
    -fx-max-height: round(1.45*(@formWidth - @spaceWidth)/2);
}
